@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

$primaryColor: #2EA372;
$secondaryColor: #fff; 
$primaryBackgroundColour: #E7E7E7;
$primaryFont: 'Rubik', sans-serif;
/* Navigation */
$navigationColor: #000;
$navigationBackgroundColour: #fff;
